body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

section {
    padding: 40px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
